<div class="central-content">
    <% if (locals.page!=undefined) {%>
        <%  if (locals.page==="company") {%>
            <div class="company">
                <h3>BestTiramisu AB</h3>
                <img class="maestro-img" src="images/maestro.png" alt="maestro picture">    
                <h4> Davide Baldi Founder and CEO</h4>
                <p>Amaretto in the tiramisu is a Swedish exageration!</p>
                <p>Top skill: smiling in pictures!</p>
            </div>
            
        <% } else if (locals.page==="location") {%>
            <div class="location">
                <h3>Swedish office</h3>
                <iframe class="google-map1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.3193512991097!2d18.249267477277137!3d59.327621974613535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f8223c50cb0ab%3A0x3cbf6fabfecb55e4!2sOrmingeringen%2036%2C%20132%2033%20Saltsj%C3%B6-boo!5e0!3m2!1sit!2sse!4v1709388718574!5m2!1sit!2sse" width="300" height="450"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
                <iframe class="google-map2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.3193512991097!2d18.249267477277137!3d59.327621974613535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f8223c50cb0ab%3A0x3cbf6fabfecb55e4!2sOrmingeringen%2036%2C%20132%2033%20Saltsj%C3%B6-boo!5e0!3m2!1sit!2sse!4v1709389957475!5m2!1sit!2sse" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h4> phone: +46 72 564 99 33</h4>
                <h4>email: d.baldi88@gmail.com</h4>
            </div>

        <% } else if (locals.page==="store/order") {%>
            <div class="location">
                <h3>Swedish office</h3>
                <iframe class="google-map1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.3193512991097!2d18.249267477277137!3d59.327621974613535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f8223c50cb0ab%3A0x3cbf6fabfecb55e4!2sOrmingeringen%2036%2C%20132%2033%20Saltsj%C3%B6-boo!5e0!3m2!1sit!2sse!4v1709388718574!5m2!1sit!2sse" width="300" height="450"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
                <iframe class="google-map2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.3193512991097!2d18.249267477277137!3d59.327621974613535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f8223c50cb0ab%3A0x3cbf6fabfecb55e4!2sOrmingeringen%2036%2C%20132%2033%20Saltsj%C3%B6-boo!5e0!3m2!1sit!2sse!4v1709389957475!5m2!1sit!2sse" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h4> phone: +46 72 564 99 33</h4>
                <h4>email: d.baldi88@gmail.com</h4>
            </div>
            
        <% } %>
    <% } %>
</div>