<div class="central-content">
    <p>
        Tiramisu is the fifth word of Italian cuisine best known abroad, the first for desserts. Etymology of the word Tiramisu: lift me up, strengthen my body. Derivative of the Treviso dialect “Tireme su”, Italianised as Tiramisù in the last decades of the last century.
        The historical memory of the "Gioiosa Marca" recalls that Tiramisu was born in Treviso in the second half of the nineteenth century. The first testimonies of this dessert lead us to the Treviso peasant tradition: Sbatudin. This is the seed from which Tiramisu was born and then evolved. Egg yolk beaten with sugar until it becomes a frothy cream. This primordial cream, the basis of Tiramisu, was already prepared in the nineteenth century in the province of Treviso. Each family personalized the cream by adding other ingredients following the tastes of the people and the territory: coffee, white wine, liqueur, biscuits, butter, ricotta, cream, cocoa
        
        Piedmont the Savoiardi (typical Savoy biscuits) and began to spread this ingredient in the Treviso area, this is how the spread of this ingredient in the nineteenth century can be explained
        Another important ingredient of Tiramisu is mascarpone or mascherpone (probably from the Lombard "mascherpa" which means ricotta, but it is not ricotta) coming from the area of Lodi, Abbiategrasso, Como and Lecco. Mascarpone is an acidified milk cream obtained from cream or milk cream.
        </p>





</div>