<form action="mailto: lia-finder@gmail.com" method="POST" enctype="text/plain">
    <fieldset class="contact-information">
        <legend>User's info</legend>

        <div class="field">
          <label class="required" for="first-name">Contact name</label>
          <input id="first-name" type="text" name="first-name" placeholder="Enter your first name" minlength="4"
            required />
        </div>
        
        <div class="field">
          <label for="telephone">Telephone</label>
          <input id="telephone" type="text" name="telephone" placeholder="Enter your telephone"
            minlength="9" />
        </div>

        <legend>Message</legend>
          <label for="message"></label>
          <textarea name="message" id="message" cols="20" rows="20" placeholder="Write here..." required></textarea>
        
          <button class="send-btn">Send order</button>

</form>