<div class="central-content">
    <% if (locals.page!=undefined) {%>
        <% if (locals.page==="history") {%>
            <div class="history">
                <p>Tiramisu is the fifth word of Italian cuisine best known abroad, the first for desserts.</p> 

                <p>Etymology of the word Tiramisu: lift me up, strengthen my body. Derivative of the Treviso dialect “Tireme su”, Italianised as Tiramisù in the last decades of the last century.</p>
                <p>The historical memory of the "Gioiosa Marca" recalls that Tiramisu was born in Treviso in the second half of the nineteenth century.</p>
                <p>The first testimonies of this dessert lead us to the Treviso peasant tradition: Sbatudin. This is the seed from which Tiramisu was born and then evolved. Egg yolk beaten with sugar until it becomes a frothy cream. This primordial cream, the basis of Tiramisu, was already prepared in the nineteenth century in the province of Treviso. Each family personalized the cream by adding other ingredients following the tastes of the people and the territory: coffee, white wine, liqueur, biscuits, butter, ricotta, cream, cocoa</p>
                <p>Piedmont the Savoiardi (typical Savoy biscuits) and began to spread this ingredient in the Treviso area, this is how the spread of this ingredient in the nineteenth century can be explained</p>
                <p>Another important ingredient of Tiramisu is mascarpone or mascherpone (probably from the Lombard "mascherpa" which means ricotta, but it is not ricotta) coming from the area of Lodi, Abbiategrasso, Como and Lecco. Mascarpone is an acidified milk cream obtained from cream or milk cream.</p>
                <a class="treviso-btn" href="history/treviso">More of Treviso</a>
                <a class="savoiardi-btn" href="history/savoiardi">More on Savoiardi</a>
                <a class="mascarpone-btn" href="history/mascarpone">More of Mascarpone</a>

            </div>
        <% } else if (locals.page==="history/treviso") {%>
            <div class="history">
                <h3>Treviso</h3>
                <img class="maestro-img" src="images/maestro.png" alt="maestro picture">    
                <h4> Davide Baldi Founder and CEO</h4>
                <p>Some believe that Treviso derived its name from the Celtic word "tarvos" mixed with the Latin ending "isium" forming "Tarvisium", of the tarvos. Tarvos means bull in Celtic mythology, though the same word can relate to the lion, or Leo, in Eastern astrology. Others believe it comes from a word from the language of a tribe who first came to Treviso.[8]</p>
                
            </div>
            
        <% } else if (locals.page==="history/savoiardi") {%>
            <div class="history">
                <h3>Swedish office</h3>
                <iframe class="google-map1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.3193512991097!2d18.249267477277137!3d59.327621974613535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f8223c50cb0ab%3A0x3cbf6fabfecb55e4!2sOrmingeringen%2036%2C%20132%2033%20Saltsj%C3%B6-boo!5e0!3m2!1sit!2sse!4v1709388718574!5m2!1sit!2sse" width="300" height="450"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
                <iframe class="google-map2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.3193512991097!2d18.249267477277137!3d59.327621974613535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f8223c50cb0ab%3A0x3cbf6fabfecb55e4!2sOrmingeringen%2036%2C%20132%2033%20Saltsj%C3%B6-boo!5e0!3m2!1sit!2sse!4v1709389957475!5m2!1sit!2sse" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h4> phone: +46 72 564 99 33</h4>
                <h4>email: d.baldi88@gmail.com</h4>
            </div>
        <% } else if (locals.page==="history/mascarpone") {%>
            <div class="history">
                <h3>Swedish office</h3>
                <iframe class="google-map1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.3193512991097!2d18.249267477277137!3d59.327621974613535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f8223c50cb0ab%3A0x3cbf6fabfecb55e4!2sOrmingeringen%2036%2C%20132%2033%20Saltsj%C3%B6-boo!5e0!3m2!1sit!2sse!4v1709388718574!5m2!1sit!2sse" width="300" height="450"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
                <iframe class="google-map2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.3193512991097!2d18.249267477277137!3d59.327621974613535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f8223c50cb0ab%3A0x3cbf6fabfecb55e4!2sOrmingeringen%2036%2C%20132%2033%20Saltsj%C3%B6-boo!5e0!3m2!1sit!2sse!4v1709389957475!5m2!1sit!2sse" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h4> phone: +46 72 564 99 33</h4>
                <h4>email: d.baldi88@gmail.com</h4>
            </div>
        <% } %>
    <% } %>
</div>