<div class="central-content">
    <% if (locals.page!=undefined) {%>
        <% if (locals.page==="history") {%>
            <div class="history">
                <p>Tiramisu is the fifth word of Italian cuisine best known abroad, the first for desserts.</p> 

                <p>Etymology of the word Tiramisu: lift me up, strengthen my body. Derivative of the Treviso dialect “Tireme su”, Italianised as Tiramisù in the last decades of the last century.</p>
                <p>The historical memory of the "Gioiosa Marca" recalls that Tiramisu was born in Treviso in the second half of the nineteenth century.</p>
                <p>The first testimonies of this dessert lead us to the Treviso peasant tradition: Sbatudin. This is the seed from which Tiramisu was born and then evolved. Egg yolk beaten with sugar until it becomes a frothy cream. This primordial cream, the basis of Tiramisu, was already prepared in the nineteenth century in the province of Treviso. Each family personalized the cream by adding other ingredients following the tastes of the people and the territory: coffee, white wine, liqueur, biscuits, butter, ricotta, cream, cocoa</p>
                <p>Piedmont the Savoiardi (typical Savoy biscuits) and began to spread this ingredient in the Treviso area, this is how the spread of this ingredient in the nineteenth century can be explained</p>
                <p>Another important ingredient of Tiramisu is mascarpone or mascherpone (probably from the Lombard "mascherpa" which means ricotta, but it is not ricotta) coming from the area of Lodi, Abbiategrasso, Como and Lecco. Mascarpone is an acidified milk cream obtained from cream or milk cream.</p>
                <div class="button-container">
                <a class="treviso-btn" href="history/treviso">More on Treviso</a>
                <a class="savoiardi-btn" href="history/savoiardi">More on Savoiardi</a>
                <a class="mascarpone-btn" href="history/mascarpone">More on Mascarpone</a>
                </div>
            </div>
        <% } else if (locals.page==="history/treviso") {%>
            <div class="history">
                <h3>Treviso</h3>
                <img class="history-img" src="../images/treviso.png" alt="treviso map picture">    
                
                <p>Some believe that Treviso derived its name from the Celtic word "tarvos" mixed with the Latin ending "isium" forming "Tarvisium", of the tarvos. Tarvos means bull in Celtic mythology, though the same word can relate to the lion, or Leo, in Eastern astrology. Others believe it comes from a word from the language of a tribe who first came to Treviso.</p>
                <p>Treviso is a city and comune (municipality) in the Veneto region of northern Italy. It is the capital of the province of Treviso and the municipality has 84,669 inhabitants (as of September 2017). Some 3,000 live within the Venetian walls (le Mura) or in the historical and monumental center; some 80,000 live in the urban center while the city hinterland has a population of approximately 170,000. </p>
                   <p> The city is home to the headquarters of clothing retailer Benetton, Sisley, Stefanel, Geox, Diadora and Lotto Sport Italia, appliance maker De'Longhi, and bicycle maker Pinarello. </p>
                    
                    <p>Treviso is also known for being the original production area of Prosecco wine and radicchio, and is thought to have been the origin of the popular Italian dessert <b>tiramisù</b>.</p>
                
            </div>
            
        <% } else if (locals.page==="history/savoiardi") {%>
            <div class="history">
                <h3>Treviso</h3>
                <img class="history-img" src="../images/savoiardi.jpg" alt="savoiardi">    
                <p>Ladyfingers, or in British English sponge fingers, sometimes known by the Italian name savoiardi, or by the French name boudoirs, are low-density, dry, egg-based, sweet sponge cake biscuits roughly shaped like large fingers.</p>
                <p> They are a principal ingredient in many dessert recipes, such as trifles and charlottes, and are also used as fruit or chocolate gateau linings, and for the sponge element of <b>tiramisu</b>. </p>
                <p>They are typically soaked in a sugar syrup or liqueur, or in coffee or espresso for tiramisu. Plain ladyfingers are commonly given to infants, being soft enough for teething mouths, but easy to grasp and firm enough not to fall apart</p>
            </div>
        <% } else if (locals.page==="history/mascarpone") {%>
            <div class="history">
                <h3>Treviso</h3>
                <img class="history-img" src="../images/mascarpone.jpg" alt="mascarpone">    
                <p>Mascarpone is a soft Italian acid-set cream cheese. It is recognized in Italy as a prodotto agroalimentare tradizionale ("traditional agri-food product")</p>
                <p>Mascarpone is milky-white in colour and is easy to spread. It is used in various Lombardy dishes and is considered a specialty in the region.
                    Mascarpone is one of the main ingredients in <b>tiramisu</b>. Sometimes it is used instead of, or along with, butter or Parmesan cheese to thicken and enrich risotto.</p>
                <p>Mascarpone also is used in cheesecake recipes. Mascarpone can also be found commonly in the UK on pizzas with prosciutto and mushrooms.</p>
            </div>
        <% } %>
    <% } %>
</div>