<nav >
    <img class="hamburger-menu" src="../images/burgermenu.svg" alt="menu icon" height="35" width="35">
        <ul>
          <li><a href="/">Home</a></li>
          
          <li>
            About us
            <ul class="submenu">
              <li><a href="/store">Store</a></li>
              <li><a href="/location">Location</a></li>
              <li><a href="/company">The company</a></li>
            </ul>
          </li>
          <li>
            Our Tiramisus
            <ul class="submenu">
                <li><a href="tir?index=0">Classico</a></li>
                <li><a href="tir?index=1">Gluten Free</a></li>
                <li><a href="tir?index=2">Pistache</a></li>
                <li><a href="tir?index=3">Champagne</a></li>
                <li><a href="tir?index=4">Saffran</a></li>
                <li><a href="tir?index=5">Vegan</a></li>
              
            </ul>
          </li>
          <li><a href="/history">History</a></li>
          
        </ul>
      </nav>