<nav >
    <img class="hamburger-menu" src="images/menu3.png" alt="menu icon" height="35" width="35">
        <ul>
          <li><a href="/">Home</a></li>
          
          <li>
            About us
            <ul class="submenu">
              <li><a href="/store">Store</a></li>
              <li><a href="/location">Location</a></li>
              <li><a href="/company">The company</a></li>
            </ul>
          </li>
          <li>
            Our Tiramisus
            <ul class="submenu">
                <li>Classico</li>
                <li>Gluten Free</li>
                <li>Pistache</li>
                <li>Champagne</li>
                <li>Saffran</li>
                <li>Vegan</li>
              
            </ul>
          </li>
          <li><a href="/history">History</a></li>
          
        </ul>
      </nav>