<nav >
    <img class="hamburger-menu" src="images/menu3.png" alt="menu icon" height="35" width="35">
        <ul>
          
          <li>
            About us
            <ul class="submenu">
              <li>Store</li>
              <li>Location</li>
              <li>The company</li>
            </ul>
          </li>
          <li>
            Our Products
            <ul class="submenu">
                <li>Classico</li>
                <li>Gluten Free</li>
                <li>Pistache</li>
                <li>Champagne</li>
                <li>Saffran</li>
                <li>Vegan</li>
              
            </ul>
          </li>
          <li>History</li>
          
        </ul>
      </nav>