<div class="opening-hours">
<% if (locals.dayOfTheWeek!==undefined) {%>
    <% if (locals.dayOfTheWeek===0 || locals.dayOfTheWeek===6) { %>
        <p>We will open again Monday 11.00</p>
    <% } else { %>
        <p>Today we are open 11.00-18.00</p>

        <%} %>

<% } %>



</div>