
<div class="store-content">
    <% if (locals.page!=undefined) {%>
        <% if (locals.page.include("/tir?")) { %>
            <% if (selectedTiramisu) { %>
                <div class="tiramisu-schedule">
                  <h2>Name: <%= selectedTiramisu.name %></h2>
                  
                  <% } %>
        <% } %>
    <% } %>
</div>

