.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.send-btn,
.order-btn,
.catalog-btn,
.treviso-btn,
.savoiardi-btn,
.mascarpone-btn {
    padding: 8px;
    border: var(--border-black);
    border-radius: 20px;
    background-color: #FBF8CC;
    font-family: noto, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    cursor: pointer;
    margin-left: 25%;
    margin-right: 25%;
}

@media screen and (min-width: 800px) {

    .send-btn,
    .order-btn,
    .catalog-btn,
    .treviso-btn,
    .savoiardi-btn,
    .mascarpone-btn  {
        margin-left: 40%;
        margin-right: 40%;
    }
}