@font-face {
    font-family: "choco";
    src: url("../fonts/chocochici-2omyw-webfont.woff");
}

@font-face {
    font-family: "choco";
    src: url("../fonts/chocochici-2omyw-webfont.woff2");
}
  
  