:root {
    --border-standard: 3px solid #FDE4CF;
    --border-black: 3px solid black;
    --color-primary: #FCFBF4; /*white cream */
    --color-secondary: #FBF8CC; /*yellow savoiardish cream */
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    margin: 0;
}

body {
    background-color: var(--color-primary) ;
    display: flex;
    flex-direction: column;
    font-family: noto, Georgia, Times, 'Times New Roman', serif;
    margin:0;
    min-height: 100%;
    text-align: center;
}

h1 {
    font-family: choco, Georgia, Times, 'Times New Roman', serif;
    font-size: calc(1.4rem+1vw);
    font-style: italic;
    padding: 0;
}

.opening-hours {
    background-color: var(--color-secondary);
    border: var(--border-standard);
    font-weight: bold;
    height: 40px;
}

section {
    background-image: url("../images/background.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    flex-grow: 1;
}

.history,
.company,
.tiramisu-schedule {
    background-color: var(--color-primary);
    border: var(--border-black);
    border-radius: 20px;
    margin: 72px 48px 48px 24px;
    padding: 16px;
    text-align: center;
}

.youtube-video1 {
    border: 3px solid black;
    margin-top: 84px;
}

.youtube-video2 {
    display: none;
}

.location {
    background-color: var(--color-primary);
    border: var(--border-black);
    border-radius: 20px;
    margin: 72px 8px 8px 24px;
    padding: 8px;
    text-align: center;
}

.google-map2 {
    display: none;
}

.tiramisu-img,
.maestro-img {
    border: var(--border-standard);
    height: auto;
    width: 200px;
}

.order-btn {
    padding: 8px;
    border: var(--border-black);
    border-radius: 20px;
    background-color: #FBF8CC;
}

footer {
    background-color: var(--color-secondary);
    border: var(--border-standard);
}

@media screen and (min-width: 500px) {

    h1 {
        font-size: 3rem;
    }

    .tiramisu-img,
    .maestro-img {
        width: 350px;
        height: auto;
    }
}

@media screen and (min-width: 800px) {

    h1 {
        font-size: 4rem;
    }

    section {
        background-image: url("../images/background-vertical.jpg");
        
    }

    .youtube-video1 {
        display: none;
    }

    .youtube-video2 {
        border: var(--border-black);
        margin-top: 48px;
        display: inline-block;
    }

    .location {
        margin: 72px 144px 24px 144px;
    }

    .google-map1 {
        display: none;
    }

    .google-map2 {
        display: inline-block;
    }

    .tiramisu-img,
    .maestro-img {
        height: auto;
        width: 500px;
    }
}

@media screen and (min-width: 1000px) {
    
    h1 {
        font-size: 5rem;
    }
}