:root {
    --border-standard: 3px solid #FDE4CF;
    --color-primary: #FCFBF4; /*white cream */
    --color-secondary: #FBF8CC; /*yellow savoiardish cream */
}


* {
    box-sizing: border-box;
    
}

html {
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin:0;
    min-height: 100%;
    background-color: var(--color-primary) ;
}

h1 {
    font-size: calc(1.4rem+1vw);
    font-style: italic;
}

.opening-hours {
    background-color: var(--color-secondary);
    height: 40px;
    font-weight: bold;
}

section {
    flex-grow: 1;
}

footer {
    background-color: var(--color-secondary);
    border: var(--border-standard);
    
}