* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    min-height: 100%;
    background-color: #FBF8CC;
}