:root {
  --spacing-small: 8px;
  --spacing-main: 16px;
  --spacing-large: 36px;
  --submenu-width: calc((100% - (3 * 10px)) / 3);
  --border-standard: 3px solid #FDE4CF;
  --border-black: 3px solid black;
  --color-primary: #FCFBF4; /*white cream */
  --color-secondary: #FBF8CC; /*yellow savoiardish cream */
}
    
nav {
    border: var(--border-standard);
    background-color: var(--color-secondary);
}
    
nav ul {
  background-color: var(--color-secondary);
  cursor: pointer;
  display: none;
  list-style-type: none;
  margin: 0;
  text-align: left;
}

.submenu {
  display: none;
}

.submenu li {
    padding-left: var(--spacing-main);
    text-align: left;
}

.hamburger-menu {
    height: 37px;
    width: 37px;
    left: 0;
    position: absolute;
    top: 0px;
}

a {
  color: black;
  margin-bottom: 16px;
  text-decoration: none;
  text-decoration-color: black;
}

nav ul li {
  margin-bottom: 16px;
  position: relative; 
  text-align: left;
}

nav ul li::after {
  background-color: black; 
  content: '';
  
  bottom: 0;
  left: 0;

  height: 1px; 
  width: 0; 
  
  position: absolute;
  transition: width 1s ease; 
}

nav ul li:hover::after {
  width: 15%; 
}

nav ul li a:focus {
  color: black;
}

nav ul li a:link {
  text-decoration: none;
  transition: 1.5s all;
}
nav ul li a.active {
  text-decoration: none;
}

 
@media screen and (min-width: 768px) {
  header {  
      display: block;
      margin-left: var(--spacing-large);
      margin-right: var(--spacing-large);
      
  }

  nav .hamburger-menu {
      display: none;
  }
  
  nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
  }
  
  nav > ul > li { 
    cursor: pointer;
    padding: var(--spacing-small) var(--spacing-main);
      
  }

  .submenu li {
    padding-left: none;
  }
  
  nav ul li:hover::after {
    width: 95%; 
    }

}