<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <header>
        <h1><%= mainMessage %></h1>
    </header>
    <section>
        
    </section>




    <%- include("../partials/footer.ejs") %>
</body>
</html>