<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/openingHours.ejs") %>

    <%- include("../partials/header.ejs") %>
    <nav class="hamburger-menu">
        <img src="images/menu3.png" alt="menu icon" height="35" width="35">
        

    </nav>
    <section>

    </section>




    <%- include("../partials/footer.ejs") %>
    
</body>
</html>